* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif, serif;
    font-size: 15px;
    line-height: 1.4;
    outline: 1px solid red;
}

main.container {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}

.product {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    color: white;
    background: linear-gradient(to bottom, #0149c2, #01338a);
}

.company-logo {
    padding: 2em 1em;
}

.company-logo h1 {
    padding: 0.2em 0.5em;
}

.features {
    height: 60%;
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
    margin-top: 5em;
    justify-content: space-between;
}

.feature {
    display: flex;
    gap: 2em;
}

.feature-image {
    /* outline: 1px solid green; */
    align-self: center;
    background-color: #1a5ecd;
    border-radius: 8px;
    flex-grow: 0;
    padding: 1.5em;
}

.feature-image img {
    height: 4em;
    width: 4em;
    object-fit: contain;
}

.feature-text {
    display: flex;
    flex-direction: column;
}

.feature-text > * {
    /* outline: 1px solid green; */
    padding: 0.5rem 0;
    opacity: 0.9;
}

.signup {
    /* outline: 1px solid green; */
    flex-basis: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
    font-weight: 400;
}

.signup > .container {
    width: 70%;
    /* outline: 1px solid green; */
    display: flex;
    flex-direction: column;
    padding-bottom: 2em;
}

.title {
    margin-bottom: 2em;
    font-size: 1.5em;
}
.title h2 {
    color: #225acc;
}

.title hr {
    margin-top: 0.5em;
    width: 4em;
    height: 5px;
    border: none;
    border-radius: 2px;
    background-color: #cfd2d6;
}

.myform {
    display: flex;
    flex-flow: row wrap;
    gap: 2em;
    margin-bottom: 1em;
}

.myform > div,
.typeA > div {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
}

.myform > .typeA {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.myform label {
    margin-bottom: 0.5em;
}

.myform input {
    padding: 0.8em 0.5em;
    font-size: 0.9em;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #f5f5f5;
}

.myform input:focus {
    background-color: #ffffff;
    border: 3px solid #cbdbf6;
}

.signup-bottom {
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: space-between;
}

.signup-bottom .agree {
    flex-basis: 70%;
    display: flex;
    align-items: flex-start;
    gap: 1em;
}

.agree span {
    color: #225acc;
}

.mybutton {
    /* outline: 1px solid red; */
    flex-grow: 1;
}

.mybutton .btn {
    width: 100%;
    padding: 1em;
    font-size: 1em;
    color: white;
    background-color: #0052ea;
    border: none;
    border-radius: 5px;
}

@media screen and (max-width: 800px) {
    main.container {
        flex-direction: column;
    }

    .signup {
        padding: 2em 0;
    }

    .features {
        margin-bottom: 4em;
    }

    .feature {
        flex-direction: column;
        text-align: center;
    }
}

@media screen and (max-width: 1050px) {
    .feature {
        flex-direction: column;
    }
    .typeA {
        flex-wrap: wrap;
        gap: 1em;
    }

    .features {
        height: 100%;
        margin-bottom: 4em;
    }
}

@media screen and (max-width: 450px) {
    .signup-bottom {
        flex-direction: column;
    }
}
